* {
    box-sizing: border-box;

}
body {
    background-color: #e9e8e3;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/*====================================
Header Styles
======================================*/


.memories-header-wrapper {
    display: table;
    padding-top: 49px;
}

.memories-logo {
    display: table-cell;
    padding-right: 280px;
    width: 216px;
}

.memories-logo .title {
    font-size: 32px;
    text-transform: uppercase;
    color: #666666;
    margin: 0;
    padding: 0;}

.memories-logo .subtitle {
    font-size: 10px;
    color: #666666;
    margin: 0;

}

.social-menu {
    display: table-cell;
    text-align: right;
    padding-right: 48px;

}

 .social-menu ul {
    margin: 0;
    padding: 0;

}

 .social-menu ul li {
    margin: 0;
    list-style-type:none;
    display: inline-block;
    padding: 0 4px;
    border-right: 1px solid #666666;

}

.social-menu ul li:last-of-type{
    border-right: none;
}


 .social-menu ul li a {
    color:#666666 ;
    text-decoration: none;
}

.memories-search {
    display: table-cell;
    vertical-align: middle;

}
.social-menu,
.memories-search {
    list-style-type:none;
    position: relative;
    font-size: 12px;

}



/*====================================
Style search bar
======================================*/
.memories-search input[type=text]{
    width: 210px;
    height: 26px;
    background-color: #2d2e2e;
    border-style: none;
    border-radius: 50px;
    color: #ffffff;
    padding-left: 5px;
}


#button-style  {
    width: 18px;
    height: 18px;
    border-radius: 105px;
    border-style: none;
    position: absolute;
    top: 17px;
    right: 10px;
    text-align: center;
}
#button-style .fa-search {
    position: absolute;
    top: 2px;
    left: 2px;
}



/*====================================
Main nav styles
======================================*/
.memories-navbar {
    margin-top: 44px;

}

.memories-navbar-wrapper {
    background-color:#2b2b2b;
    border-radius: 5px;
    text-align: center;
}

.memories-navbar li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px 0;
    background-color:#2b2b2b ;
    margin-right: -4px;

}

.memories-navbar li a {
    color: white;
    text-decoration: none;
    padding-right:30px ;

}

.memories-navbar  li a:hover {
    color:#666666;
}


/*====================================
Image and figcaptionstyles
======================================*/
.figure-wrapper {
    position: relative;
}

.memories-girl-pic {
    border: 1px solid #d6d6d5;
    padding: 8px;
    margin-top: 24px;
    margin-left: -39px;/*PICTURE ESCAPES .CONTAINER-TEMPORARY SOLUTION*/
    /*margin-bottom: 45px;*/
}

.picture-figcaption {
    width:600px ;
    height: 120px;
    font-size: 13px;
    line-height: 23px;
    color: #c2c2c2;
    padding-left:14px  ;
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom:20px ;
    left:20px;
}

/*====================================
Middle text
======================================*/
.memories-box{
    padding: 40px 0;
}
.memories-text {
    font-size: 22px;
    font-style: italic;
    color: #666666;
    text-align: center;
}

.memories-fade {
   color: #666666;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(200,200,200,0), rgba(200, 200, 200, 0.75), rgba(200,200,200,0));
}

/*====================================
Boxes style
======================================*/
.memories-box-wrapper {
    width: 225px;
    height: 380px;
    display: inline-block;
    text-align: center;
    margin-right: 12px;
}

.memories-category{
    text-transform: uppercase;
    font-size: 12px;
    color: #ebc563;
    font-weight: normal;
}

.memories-content {
    font-size: 12px;
    color: white;
}

.memories-box-title {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

.memories-pic-box {
    height:180px ;
    background: #333333;
    padding-bottom: 10px;
}

.memories-text-box{
    background: #2d2e2e;
    padding: 20px 14px ;
}

/*====================================
Footer style
======================================*/
.footer-wrapper{
    background-color:#131313 ;

}
.footer-picture {
    width: 95px;
    height: 95px;
    background-color: #333333;
    border: 1px solid #666666;


}
.footer-picture-wrapper{
    padding: 4px;
    width: 105px;
    border: 1px solid #666666;

}
.first-column-wrapper {
    width: 470px;
}

.second-column-wrapper,
.third-column-wrapper{
    width:225px ;
}

.memories-quarter {
    color: white;
    padding-bottom: 28px;
}
.quarter-content-text {
    color: #989898;
    font-size: 12px;
}

.quarter-content-title {
    color: #989898;
    font-size: 14px;
}
.footer-picture-wrapper {
    display: table-cell;

}
.first-column-wrapper {
    padding-bottom: 30px;
}
.footer-content {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
}
.read-more {
    color:#ebc563;
    font-size: 12px;
    text-align: right;
}

.change-color{
    color: #ebc563;
}
.footer-copyright-wrapper {
    background: #2d2e2e;
    padding: 15px 0;
}
.spacing {
    padding:0;
    margin:0;
}
.table-wrapper {
    display: table;
}
.memories-footer-first-column,
.memories-footer-second-column,
.memories-footer-third-column {
    display: table-cell;
    padding-right: 20px;

}

.footer-left {
    float: left;
}
.footer-right {
    float: right;
}

/*====================================
Form Style
======================================*/
.name,
.email,
.comment {
    width: 225px;
    border-radius: 10px;
    background: #2d2e2e;
    border: none;
    padding: 8px 0 0 10px;
}
.btn,
.email,
.name {
    height: 30px;
}
 .email,
 .comment,
 .btn {
     margin-top: 10px;
 }

 .btn {
     width: 80px;
     border-radius:10px;
     background: #2d2e2e;
     border: none;
     color: #989898;
 }
/*====================================
Clear float
======================================*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}