* {
    box-sizing: border-box;
}
body {
    background-color: #e9e8e3;
    font-family: 'Merriweather', serif;


}
.container {
    width: 70%;
    max-width: 1150px;
    margin: 0 auto;
}
/*====================================
Header Styles
======================================*/
#info-size {
    font-size: 10px;

}

#logo-size {
    font-size: 32px;
    text-transform: uppercase;
}

.logo {
    /*float: left;*/
    color: #666666;
    line-height: 9px;
    letter-spacing: 1px;
    margin-right: 270px;
}

.header-nav,
.search {
    margin-top:-15px;
    position: relative;
    /*text-align: top;*/
    font-size: 12px;
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
    color: #666666;
}

.logo,
.header-nav,
.header-nav li,
.social-menu,
.search
{
    display: inline-block;

}
.social-menu,
.search {
    vertical-align: middle;
}
/*====================================
Style search bar
======================================*/
.search input[type=text]{
    width: 210px;
    height: 26px;
    background-color: #2d2e2e;
    border-style: none;
    border-radius: 50px;
    margin-left: 50px;
    color: #ffffff;
    padding-left: 5px;
}
.search input[type=text]::placeholder{
    color: #ffffff;
}

#button-style  {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 105px;
    border-style: none;
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
}
#button-style .fa-search {
    position: absolute;
    top: 2px;
    left: 2px;
}

#button-style::after {
    /*content: "\f002";*/
    /*color: #000000;*/
}


/*====================================
Main nav styles
======================================*/
.main-nav li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px;
    background-color:#2b2b2b ;
    margin-right: -4px;
}

.main-nav li a {
    color: white;
}
















/*====================================
Clear float
======================================*/
/*.clearfix:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/