* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    background-color: #e9e8e3;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/*====================================
Header Styles
======================================*/

.memories-header-wrapper {
    display: table;
    padding-top: 49px;
}

.memories-logo {
    display: table-cell;
    padding-right: 280px;
    width: 216px;
}

.memories-logo .title {
    font-size: 32px;
    text-transform: uppercase;
    color: #666666;
    margin: 0;
    padding: 0;
}

.memories-logo .subtitle {
    font-size: 10px;
    color: #666666;
    margin: 0;
}

.social-menu {
    display: table-cell;
    text-align: right;
    padding-right: 48px;
}

.social-menu ul {
    margin: 0;
    padding: 0;
}

.social-menu ul li {
    margin: 0;
    list-style-type:none;
    display: inline-block;
    padding: 0 4px;
    border-right: 1px solid #666666;
}

.social-menu ul li:last-of-type {
    border-right: none;
}

 .social-menu ul li a {
    color:#666666 ;
    text-decoration: none;
}

.memories-search {
    display: table-cell;
    vertical-align: middle;
}

.social-menu,
.memories-search {
    list-style-type:none;
    position: relative;
    font-size: 12px;
}

/*====================================
Style search bar
======================================*/

.memories-search input[type=text]{
    width: 210px;
    height: 26px;
    background-color: #2d2e2e;
    border-style: none;
    border-radius: 50px;
    color: #ffffff;
    padding-left: 10px;
    outline: none;
}

#button-style  {
    width: 18px;
    height: 18px;
    border-radius: 105px;
    border-style: none;
    position: absolute;
    top: 17px;
    right: 5px;
    text-align: center;
}

#button-style .fa-search {
    position: absolute;
    top: 3px;
    left: 3px;
}

/*====================================
Main nav styles
======================================*/
.memories-navbar {
    margin-top: 44px;
}

.memories-navbar-wrapper {
    background-color:#2b2b2b;
    border-radius: 5px;
    text-align: center;
}

.memories-navbar li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px 0;
    background-color:#2b2b2b ;
    margin-right: -4px;
}

.memories-navbar li a {
    color: white;
    text-decoration: none;
    padding-right:30px ;
}

.memories-navbar  li a:hover {
    color:#666666;
}


/*====================================
Image styles
======================================*/

.figure-wrapper {
    position: relative;
}

.memories-girl-pic {
    border: 1px solid #d6d6d5;
    padding: 8px;
    margin-top: 24px;
}

.picture-figcaption {
    max-width: 50%;
    font-size: 13px;
    line-height: 23px;
    color: #c2c2c2;
    padding-left:14px  ;
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom:20px ;
    left:20px;
    padding-bottom: 20px;
}

.arrows-wrapping-box {
    width: 48px;
    height: 48px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-align: center;
}

.left-arrow,
.right-arrow {
    display: inline-block;
    color: #ffffff;
    font-size: 30px;
    padding-top:6px;
}

/*====================================
Middle text
======================================*/

.memories-box{
    padding: 40px 0;
}

.memories-text {
    font-size: 22px;
    font-style: italic;
    color: #666666;
    text-align: center;
}

.memories-fade {
    color: #666666;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(200,200,200,0), rgba(200, 200, 200, 0.75), rgba(200,200,200,0));
}

/*====================================
Boxes style
======================================*/

.memories-box-wrapper {
    max-width: 23%;
    display: inline-block;
    text-align: center;
    margin: 0 15px 0 6px;
}

.memories-box-wrapper:nth-of-type(4n+1) {
    margin-left: 0;
}

.memories-box-wrapper:nth-of-type(4n+4) {
    margin-right: 0;
}

.memories-category {
    text-transform: uppercase;
    font-size: 12px;
    color: #ebc563;
    font-weight: normal;
}

.memories-content {
    font-size: 12px;
    color: #9fa4aa;
}

.memories-box-title {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: normal;
}

.memories-pic-box {
    background: #333333;
    padding-bottom: 10px;
}

.memories-pic-box img {
    max-width: 100%;
}

.memories-text-box {
    background: #2d2e2e;
    padding: 20px 14px ;
    margin-top: -14px;
}

/*====================================
Footer style
======================================*/

.footer-wrapper {
    background-color:#131313 ;
}
.footer-picture {
    width: 95px;
    height: 95px;
    background-color: #333333;
    border: 1px solid #666666;
}

.fit-picture {
    max-width: 100%;
}

.footer-picture-wrapper {
    padding: 4px;
    width: 105px;
    border: 1px solid #666666;
}

.memories-footer-post {
     margin-bottom: 20px;
 }

.memories-quarter {
    color: white;
    padding-bottom: 28px;
    font-weight: normal;
}

.quarter-content-text,
.quarter-content-footer-text{
    color: #989898;
    font-size: 12px;
}

.quarter-content-title {
    color: #989898;
    font-size: 14px;
}

.first-column-wrapper {
    padding-bottom: 30px;
}

.admin {
    color: #ebc563;
}

.read-more {
    display: block;
    text-align: right;
    color:#ebc563;
    font-size: 12px;
}

a {
     text-decoration: none;
 }

.footer-copyright-wrapper {
    background: #2d2e2e;
    padding: 15px 0;
}

.spacing {
    padding:0;
    margin:0;
}

.footer-content {
    max-width: 70%;
}

.memories-footer-first-column,
.memories-footer-second-column,
.memories-footer-third-column {
    display: inline-block;
    padding-right: 20px;
}

.memories-footer-first-column {
    max-width: 50%;
}

.memories-footer-second-column{
    max-width: 25%;
    vertical-align: top;
}
.memories-footer-third-column {
    max-width: 25%;
    vertical-align: top;
}

.footer-picture-wrapper {
    float: left;
}

.footer-content {
    float: right;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

/*====================================
Form Style
======================================*/

.name,
.email,
.comment {
    width: 205px;
    border-radius: 10px;
    background: #2d2e2e;
    border: none;
    padding: 8px 0 0 10px;
    outline: none;
}

.btn,
.email,
.name {
    height: 30px;
}

.email,
.comment,
.btn {
     margin-top: 10px;
 }

.btn {
     width: 80px;
     border-radius:10px;
     background: #2d2e2e;
     border: none;
     color: #989898;
     outline: none;
 }

/*====================================
Media Query
======================================*/

@media screen and (max-width:1199px) {
    .container {
        width:720px;
        margin: 0 auto;
    }
    /*====================================
    Header
    ======================================*/
    .memories-logo {
        padding: 0;
    }

    .social-menu {
        padding-right: 20px;
        padding-left: 35px;
    }

    /*====================================
    Navbar
    ======================================*/
    .memories-navbar li a {
        padding:7px;
    }

    .memories-navbar ul {
        padding:0;
        margin: 0;
    }
    /*====================================
    Memories image
    ======================================*/
    .memories-girl-pic {
        max-width: 100%;
    }

    .picture-figcaption {
        max-width:60%;
        padding-left: 10px;
        padding-bottom: 10px;
        line-height: normal;
        padding-right: 5px;
    }

    .picture-figcaption h2 {
        margin: 5px;
    }

    .arrows-wrapping-box  {
        width: 40px;
        height: 40px;
    }

    .left-arrow,
    .right-arrow {
        font-size: 24px;
    }
    /*====================================
    Memories text
    ======================================*/
    .memories-text {
        font-size: 18px;
    }
    .footer-copyright-wrapper {
        margin-top: -3px;
    }

    /*====================================
     Memories boxs
     ======================================*/
    .memories-box .container {
        text-align: center;
    }

    .memories-box-wrapper {
        max-width: 31%;
        padding-bottom: 40px;
    }

    .memories-box-wrapper:nth-of-type(4n+1){
        margin-left: 6px;
    }

    .memories-box-wrapper:nth-of-type(4n+4){
        margin-right: 15px;
    }

    /*====================================
    Footer
    ======================================*/

    .memories-footer-first-column,
    .memories-footer-second-column {
        max-width: 30%;
        margin-right: 40px;
    }

    .footer-picture-wrapper {
        float: none;
    }

    .footer-content {
        float: none;
        max-width: 100%;
    }
}

@media  only screen and (max-width:768px) {
    .container {
        max-width: 470px;
        margin: 0 auto;
    }
    /*====================================
    Header
    ======================================*/
    .memories-header-wrapper {
        display: block;
        padding: 0;
        text-align: center;
    }

    .memories-logo {
        display: inline;
    }

    .social-menu {
        display: block;
        padding: 0;
        text-align: inherit;
    }

    .memories-search {
        padding-top:20px;
        display: block;
    }

    .memories-search input[type=text] {
        width: 300px;
        padding-left: 10px;
    }

    #button-style  {
        top: 23px;
        right: 95px;
    }

    .social-menu {
        padding-top: 15px;
    }

    /*====================================
    Navbar
   ======================================*/
    .memories-navbar ul {
        display: inline-grid;
    }

    /*====================================
    Image
    ======================================*/
    .memories-girl-pic {
        max-width: 100%;
    }

    .picture-figcaption,
    .arrows-wrapping-box
     {
        display: none;
    }

    /*====================================
    Text
    ======================================*/
    .memories-text {
        font-size: 12px;
    }

    /*====================================
    Boxes
    ======================================*/
    .memories-box-wrapper {
        display: block;
        max-width: 40%;
        margin:auto;
        padding: 30px 0 0 0;
    }

    .memories-box-wrapper:nth-of-type(4n+1){
        margin-left: auto;
    }

    .memories-box-wrapper:nth-of-type(4n+4){
        margin-right: auto;
    }

    .memories-category,
    .memories-content {
        font-size: 10px;
    }
    /*====================================
   Footer
   ======================================*/
    .footer-wrapper,
    .footer-copyright-wrapper{
        width:100%;
    }

    .footer-content {
        max-width: 100%;
    }

    .memories-quarter,
    .quarter-content-title,
    .quarter-content-text,
    form {
        text-align: center;
    }

     .footer-picture-wrapper {
         float: none;
         display: block;
         margin: 0 auto;
     }
    .footer-copyright-wrapper {
        margin-top: -4px;
        text-align: center;
    }

    .memories-footer-first-column,
    .memories-footer-second-column,
    .memories-footer-third-column {
        display: inline;
    }

    .quarter-content-text {
        font-size:10px;
        padding: 0 30px;
    }

    .quarter-content-footer-text {
        font-size: 7px;
    }

    .read-more {
        text-align: center;
    }

    .footer-right,
    .footer-left {
        float: none;
    }
}

@media  only screen and (max-width:480px) {
    .container {
        max-width: 300px;
        margin: 0 auto;
    }

    .social-menu {
        padding-top: 15px;
    }

    #button-style  {
        top: 23px;
        right: 5px;
    }

    .footer-left,
    .footer-right {
        float: none;
    }
}


/*====================================
Clear float
======================================*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}